<p>
  <strong>Title:</strong>
<<<<<<< HEAD
  <%= @article.title %>
=======
    <%= @article.title %>
>>>>>>> d292fa03db7ef04ceddf0f68bb512a10b9c3ddb5
</p>
 
<p>
  <strong>Text:</strong>
<<<<<<< HEAD
  <%= @article.text %>
</p>
=======
    <%= @article.text %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a Comment</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
>>>>>>> d292fa03db7ef04ceddf0f68bb512a10b9c3ddb5
<%= link_to 'Back', articles_path %>
